/* css styles */

.navbar-logo {
  max-height: 50px;
}

:root {
  --pink: #983E82;   /* hsl(315, 42%, 42%) */
  --orange: #E2A458; /* hsl( 33, 70%, 62%) */
  --yellow: #F5DC70; /* hsl( 49, 87%, 70%) */
  --green: #59935B;  /* hsl(122, 25%, 46%) */
  --blue: #467AAC;   /* hsl(209, 42%, 47%) */
  --purple: #61589C; /* hsl(248, 28%, 48%) */
  --grey: #2C3E4F;
}

/* rainbow borders */
nav {
  margin-top: 18px;
  box-shadow: 0 -3px 0 0px var(--purple),
              0 -6px 0 0px var(--blue),
              0 -9px 0 0px var(--green),
              0 -12px 0 0px var(--yellow),
              0 -15px 0 0px var(--orange),
              0 -18px 0 0px var(--pink);
}

.hexes a { display: inline-block; 
           width: 20%; 
           padding: 0;
           margin: 0;}
.hexes img { width: 100%; padding: 0; border: 0; margin: 0; }
.hexrow { display: block; clear: both; margin-top: -2.5%;}
.hexrow:nth-child(1) { margin-top: 0; }
.hexrow:nth-child(2), .hexrow:nth-child(4) { 
  padding-left: 10%; 
  padding-right: 10%;}
.hexrow:nth-child(2) a, .hexrow:nth-child(4) a { width: 25%; }

.hex {
  float: right; 
  width:150px; 
  margin:0px 20px;
}

.reslist, .paperlist {
  list-style-type: none;
}

.reslist li > div:first-child {
  width: 20%;
  max-width: 150px;
  min-width: 50px;
  vertical-align: top;
  float: left;
}

.reslist li div:nth-child(2) {
  margin-left: 22.5%;
}

.reslist li > div:first-child img {
    display: block;
    width: 100%;
}

.paperlist h3 {
  font-size: 120%;
}

.paperlist .abstract {
  font-style: italic;
}

.paperlist .authors {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.quarto-title-meta-contents {
  overflow-y: auto;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}