.hex {
  float: right; 
  width:150px; 
  margin:0px 20px;
}

.level:after {
    content: "";
    display: table;
    clear: both;
}

.column-left {
    float: left;
    width: 15%;
}

.column-right {
    float: left;
    width: 85%;
}

.column-left img {
    display: block;
    width: 100%;
    max-width: 150px;
    min-width: 50px;
    margin-right: 10px;
}