:root {
  --pink: #983E82;   /* hsl(315, 42%, 42%) */
  --orange: #E2A458; /* hsl( 33, 70%, 62%) */
  --yellow: #F5DC70; /* hsl( 49, 87%, 70%) */
  --green: #59935B;  /* hsl(122, 25%, 46%) */
  --blue: #467AAC;   /* hsl(209, 42%, 47%) */
  --purple: #61589C; /* hsl(248, 28%, 48%) */
}

/* rainbow borders */
div.navbar {
  margin-bottom: 12px;
  box-shadow: 0 3px 0 0px var(--blue),
              0 6px 0 0px var(--green),
              0 9px 0 0px var(--yellow),
              0 12px 0 0px var(--orange),
              0 15px 0 0px var(--pink);
}

.navbar-default {
  background-color: var(--purple);
}

a, a:link, a:visited, a:hover  {
  color: var(--blue);
  text-decoration-color: var(--blue);
}

.hex {
  float: right; 
  width:150px; 
  margin:0px 20px;
}

.level:after {
    content: "";
    display: table;
    clear: both;
}

.column-left {
    float: left;
    width: 15%;
}

.column-right {
    float: left;
    width: 85%;
}

.column-left img {
    display: block;
    width: 100%;
    max-width: 150px;
    min-width: 50px;
    margin-right: 10px;
}